* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.smaller {
  font-size: 30%;
}

.displace {
  position: relative;
  bottom: -5px;
}

.pointer {
  cursor: pointer;
}

.select {
  text-decoration: none;
  border-bottom: 4px solid #5bc0de !important;
}

.ml-n-1 {
  margin-left: -5px;
}